<!-- Librerias y Dependencias a Usar -->
@using System.IO
@using Services
@inject LogService LogService
@inject MonitorEstado MonitorEstado

<!-- Componente del Control de Eventos -->
<div class="bg-secondary bg-opacity-10 p-2 rounded-3 shadow-sm text-center mb-3 border border-secondary border-opacity-25">

	<h3 class="h5 text-danger fw-semibold">
		Control de Eventos en Tiempo Real
	</h3>

	<div class="d-flex justify-content-center gap-2 mb-3">

		<button class="btn btn-success btn-sm px-3 py-2 shadow-sm d-inline-flex align-items-center gap-2" 
				@onclick="IniciarMonitoreo"
				disabled="@MonitorEstado.monitoreoActivo">

				@if(MonitorEstado.monitoreoActivo){

				<span><i class="bi bi-box-arrow-in-down me-2"></i> Leyendo Archivos...</span>

				}else
				{

				<span><i class="bi bi-file-ruled me-2"></i> Iniciar Lectura</span>

				}

		</button>

		<button class="btn btn-danger btn-sm px-3 py-2 shadow-sm d-inline-flex align-items-center gap-2"
				@onclick="PararMonitoreo"
				disabled="@(!MonitorEstado.monitoreoActivo)">

			<span><i class="bi bi-stop-circle me-2"></i> Detener Lectura</span>

		</button>

	</div>

	<div class="card bg-transparent border border-secondary border-opacity-25 rounded-3 m-2">

		<div class="d-flex justify-content-center align-items-center p-3 border-bottom border-secondary border-opacity-25 pb-2">
			<h4 class="h6 text-uppercase fw-bold text-secondary m-0">Historial de Alertas</h4>
		</div>

		<!-- Agregar el Componente de Notificacion -->
		<Notificacion ListaIncidencias="MonitorEstado.listaIncidencias" />

	</div>

</div>


@code {

	// Ruta de los Archivos Log
	private string rutaArchivoLog = "";

	// Funcion al Iniciar el Componente
	protected override void OnInitialized()
	{
		// Obtener la Carpeta de Descargas del Usuario
		string perfilUsuario = Environment.GetFolderPath(Environment.SpecialFolder.UserProfile);
		rutaArchivoLog = Path.Combine(perfilUsuario, "Downloads", "servidor1.log");

		MonitorEstado.onStateChanged += StateHasChanged;

		System.Diagnostics.Debug.WriteLine($"Ruta Archivo Log: {rutaArchivoLog}");

	}

	private async Task IniciarMonitoreo()
	{
		// No Entrar si ya Esta Activo
		if (MonitorEstado.monitoreoActivo)
		{
			return;
		}	

		MonitorEstado.monitoreoActivo = true;

		// Iniciar el Monitoreo
		while (MonitorEstado.monitoreoActivo)
		{

			// Usar Try-Catch para la Lectura del Archivo
			try
			{
				// Procesar el Archivo Log
				if (File.Exists(rutaArchivoLog))
				{
					// Leer el Archivo Log
					List<string> LineasArchivo = await LogService.LeerLogAsincrono(rutaArchivoLog);

					// Recorrer los Codigos a Monitorear
					foreach (string codigoActual in MonitorEstado.codigosErrores)
					{
						// Contar Cantidad de Errores
						int contApariciones = LineasArchivo.Count(linea => linea.Contains(codigoActual, StringComparison.OrdinalIgnoreCase));

						// Guardar el Conteo en el Diccionario
						MonitorEstado.ActualizarContador(codigoActual, contApariciones);

						// Verificar si el Codigo Aparece mas de 50 Veces
						if (contApariciones >= 2)
						{
							bool reportado = MonitorEstado.Reportado(codigoActual);

							// Verificar si ya fue Reportado para Evitar Repeticones
							if (!reportado)
							{
								string horaActual = DateTime.Now.ToString("HH:mm:ss");
								string nuevaAlerta = $"¡ALERTA DE SEGURIDAD! El Evento {codigoActual}: {horaActual}, ha superado las 50 apariciones críticas.";
								MonitorEstado.AgregarAlerta(nuevaAlerta);
							}
						}

					}

					MonitorEstado.NotificarCambioEstado();

				}
				// El Archivo no Existe
				else
				{
					System.Diagnostics.Debug.WriteLine($"Advertencia: El archivo {rutaArchivoLog} no existe.");
				}
			}
			// Por si Acaso un Error
			catch (Exception ex)
			{
				System.Diagnostics.Debug.WriteLine($"Error: {ex.Message}");
			}

			// Dar un Retardo para No Sobrecargar el Hilo
			await Task.Delay(2000);

		}

	}

	// Parar el Monitoreo por el Usuario
	private void PararMonitoreo()
	{
		MonitorEstado.monitoreoActivo = false;
	}

	// Limpiar Eventos
	public void LimpiarEventos()
	{
		MonitorEstado.onStateChanged -= StateHasChanged;
	}

}
